<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExelConverter.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="alphaEntities" connectionString="metadata=res://*/DataAccess.AppDB.csdl|res://*/DataAccess.AppDB.ssdl|res://*/DataAccess.AppDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=alpha&quot;" providerName="System.Data.EntityClient" />
    <add name="exelconverterEntities" connectionString="metadata=res://*/DataAccess.ExelConverterDB.csdl|res://*/DataAccess.ExelConverterDB.ssdl|res://*/DataAccess.ExelConverterDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=exelconverter&quot;" providerName="System.Data.EntityClient" />
    <add name="EConverterDBEntities" connectionString="metadata=res://*/DataAccess.ConverterLocalDB.csdl|res://*/DataAccess.ConverterLocalDB.ssdl|res://*/DataAccess.ConverterLocalDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\DataAccess\EConverterDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConverterLocalDBEntities" connectionString="metadata=res://*/DataAccess.Model1.csdl|res://*/DataAccess.Model1.ssdl|res://*/DataAccess.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\DataAccess\EConverterDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EConverterDBEntities1" connectionString="metadata=res://*/DataAccess.ConverterLocalDB.csdl|res://*/DataAccess.ConverterLocalDB.ssdl|res://*/DataAccess.ConverterLocalDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\DataAccess\EConverterDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConverterLocalDatabaseEntities" connectionString="metadata=res://*/DataAccess.LocalDBContext.csdl|res://*/DataAccess.LocalDBContext.ssdl|res://*/DataAccess.LocalDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\DataAccess\EConverterDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="exelconverterEntities1" connectionString="metadata=res://*/DataAccess.Model1.csdl|res://*/DataAccess.Model1.ssdl|res://*/DataAccess.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=outdoor-online.com.ua;user id=exelconverter;database=exelconverter&quot;" providerName="System.Data.EntityClient" />
    <add name="exelconverterEntities2" connectionString="metadata=res://*/DataAccess.ConverterDB.csdl|res://*/DataAccess.ConverterDB.ssdl|res://*/DataAccess.ConverterDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=outdoor-online.com.ua;user id=excelconverter;password=cLU4btXAxmB22fJB;persist security info=True;database=excelconverter_alpha;allow zero datetime=True;allow user variables=False&quot;" providerName="System.Data.EntityClient" />
    <add name="EConverterDBEntities2" connectionString="metadata=res://*/DataAccess.LocalDB.csdl|res://*/DataAccess.LocalDB.ssdl|res://*/DataAccess.LocalDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\DataAccess\EConverterDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <ExelConverter.Core.Properties.Settings>
      <setting name="HeaderSearchAlgorithm" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="HeaderSearchAlgorithm_2_MaxHeaderCount" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="HeaderSearchAlgorithm_2_MaxCellsFillCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="HeaderSearchAlgorithm_2_BadSymbols" serializeAs="String">
        <value>|][':&lt;&gt;?*&amp;^%$#@!`~+=_</value>
      </setting>
    </ExelConverter.Core.Properties.Settings>
  </userSettings>
</configuration>