<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExcelConverter.Parser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelConverter.Parser.Properties.Settings>
            <setting name="MinImageWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MinImageHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>6</value>
            </setting>
        </ExcelConverter.Parser.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
