<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExelConverterLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ExelConverter.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="alphaEntities" connectionString="metadata=res://*/DataAccess.AppDB.csdl|res://*/DataAccess.AppDB.ssdl|res://*/DataAccess.AppDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=outdoor-online.com.ua;user id=alpha_remote;database=alpha;password=GuQubnYWhHSEYwZR&quot;" providerName="System.Data.EntityClient" />
    <add name="exelconverterEntities2" connectionString="metadata=res://*/DataAccess.ConverterDB.csdl|res://*/DataAccess.ConverterDB.ssdl|res://*/DataAccess.ConverterDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=outdoor-online.com.ua;user id=excelconverter;password=cLU4btXAxmB22fJB;database=excelconverter_alpha&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ExelConverterLite.Properties.Settings>
      <setting name="LogFilename" serializeAs="String">
        <value>log.txt</value>
      </setting>
      <setting name="Import_DeleteEmptyRows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HttpServersName" serializeAs="String">
        <value>Альфа:http://alpha.outdoor-online.com.ua/;Бета:http://beta.outdoor-online.com.ua/;Продакшен:http://www.outdoor-online.com.ua/</value>
      </setting>
      <setting name="LastConnected" serializeAs="String">
        <value>Альфа</value>
      </setting>
    </ExelConverterLite.Properties.Settings>
  </userSettings>
</configuration>